In [77]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import time
import random

In [81]:
url = 'https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=delhi&start=75'

response = requests.get(url)

list_data = response.text
list_soup = BeautifulSoup(list_data, 'html.parser')
page_jobs = list_soup.find_all('li')

In [82]:
id_list = []
for job in page_jobs:
    base_card_div = job.find("div", {"class": "base-card" })
    job_id = base_card_div.get("data-entity-urn").split(":")[3]
    print(job_id)
    id_list.append(job_id)

4241598953
4216338017
4233834616
4240840899
4242964020
4244908008
4239687859
4244896507
4231778974
4230670382

In [83]:
job_id = 4235410880
job_url = f'https://in.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}'

job_response = requests.get(job_url)

In [74]:
job_list = []
for job_id in id_list:
    job_url = f'https://in.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}'

    job_response = requests.get(job_url)
    print(job_response.status_code)
    job_soup = BeautifulSoup(job_response.text, 'html.parser')
    job_post = {}
    
    try:
        job_post['job_title'] = job_soup.find("h2", {"class": "top-card-layout__title font-sans text-lg papabear:text-xl font-bold leading-open text-color-text mb-0 topcard__title"}).text.strip()
    except:
        job_post['job_title'] = None
    
    
    try:
        job_post['company_name'] = job_soup.find("a", {"class": "topcard__org-name-link topcard__flavor--black-link"}).text.strip()
    except:
        job_post['company_name'] = None
    
    try:
        job_post['time_posted'] = job_soup.find("span", {"class": "posted-time-ago__text topcard__flavor--metadata"}).text.strip()
    except:
        job_post['time_posted'] = None
    try:
        job_post['location'] = job_soup.find("span", {"class": "topcard__flavor topcard__flavor--bullet"}).text.strip()
    except:
        job_post['location'] = None
    try:
        job_post['number_of_applicants'] = job_soup.find("span", {"class": "num-applicants__caption topcard__flavor--metadata topcard__flavor--bullet"}).text.strip()
    except:
        job_post['number_of_applicants'] = None
    
   
    
    job_list.append(job_post)

200
200
200
200
200
200
200
200
200
200
429
429
429
429
429
429
429
429
429
429
200
200
200
200
200
200
200
200
200
429
429
429
429
429
429
429
429
429
429
200
200
200
200
200
200
200
200
200
200
429
429
429
429
429
429
429
429
429
429
200
200
200
200
200
200
200
200
200
429
429
429
429
429
429
429
429
429
429
429
200
200
200
200
200
200
200
429
429
429
429
429
429
429
429
429
429
429
429
429

In [20]:
job_list

[{'job_title': 'Business Analyst',
  'company_name': 'American Express',
  'time_posted': '2 days ago',
  'location': 'Gurugram, Haryana, India',
  'number_of_applicants': None},
 {'job_title': 'Assistant Manager Finance',
  'company_name': 'Godrej Agrovet Limited',
  'time_posted': '3 days ago',
  'location': 'Mumbai, Maharashtra, India',
  'number_of_applicants': None},
 {'job_title': 'Business Analyst',
  'company_name': 'PharmEasy',
  'time_posted': '1 day ago',
  'location': 'Bengaluru, Karnataka, India',
  'number_of_applicants': None},
 {'job_title': 'Business Development Associate , Private Brands',
  'company_name': 'Amazon',
  'time_posted': '3 days ago',
  'location': 'Bengaluru, Karnataka, India',
  'number_of_applicants': '130 applicants'},
 {'job_title': 'Brand Manager – Ice Cream (BD)',
  'company_name': 'Unilever',
  'time_posted': '1 day ago',
  'location': 'Mumbai, Maharashtra, India',
  'number_of_applicants': None},
 {'job_title': 'Ecommerce Manager',
  'company_name': 'Reliance Brands Limited',
  'time_posted': '2 days ago',
  'location': 'Gurugram, Haryana, India',
  'number_of_applicants': None},
 {'job_title': 'Fire Executive - Vadodara',
  'company_name': 'Reliance Industries Limited',
  'time_posted': '3 days ago',
  'location': 'Vadodara, Gujarat, India',
  'number_of_applicants': '78 applicants'},
 {'job_title': 'Talent Account Director 2',
  'company_name': 'LinkedIn',
  'time_posted': '2 days ago',
  'location': 'Gurgaon, Haryana, India',
  'number_of_applicants': None},
 {'job_title': 'Branch Manager - Kharagpur',
  'company_name': 'Aditya Birla Capital',
  'time_posted': '2 days ago',
  'location': 'West Bengal, India',
  'number_of_applicants': '82 applicants'},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': None,
  'company_name': None,
  'time_posted': None,
  'location': None,
  'number_of_applicants': None},
 {'job_title': 'Branch Manager - Kharagpur',
  'company_name': 'Aditya Birla Capital',
  'time_posted': '2 days ago',
  'location': 'West Bengal, India',
  'number_of_applicants': '82 applicants'},
 {'job_title': 'Research And Development Officer',
  'company_name': 'Meril',
  'time_posted': '1 day ago',
  'location': 'Vapi, Gujarat, India',
  'number_of_applicants': None}]

In [84]:
id_list

['4241598953',
 '4216338017',
 '4233834616',
 '4240840899',
 '4242964020',
 '4244908008',
 '4239687859',
 '4244896507',
 '4231778974',
 '4230670382']

In [75]:
job_df = pd.DataFrame(job_list)
job_df.tail(60)

,job_title,company_name,time_posted,location,number_of_applicants
39,Assistant Manager,Cadila Pharmaceuticals Limited,3 weeks ago,"Gandhinagar, Gujarat, India",None
40,Software Engineer,Capgemini,3 days ago,"Gurgaon, Haryana, India",None
41,"Operations Lead, Amazon Fresh",Amazon,2 days ago,Mumbai Metropolitan Region,25 applicants
42,Supervisor - HR Systems & HR Services,Larsen & Toubro,3 days ago,Mumbai Metropolitan Region,None
43,"Operations Lead, Amazon Fresh",Amazon,2 days ago,Mumbai Metropolitan Region,28 applicants
44,"Business Finance - SA, Analyst",Deutsche Bank,2 days ago,"Mumbai, Maharashtra, India",66 applicants
45,Vendor Partner Lead,LinkedIn,3 days ago,"Bengaluru, Karnataka, India",None
46,AGM Production Dahej B,Gujarat Fluorochemicals Limited,2 days ago,"Dahej, Gujarat, India",None
47,Process Assistant,Amazon,2 days ago,Mumbai Metropolitan Region,33 applicants
48,"Operations Lead, Amazon Fresh",Amazon,2 days ago,Mumbai Metropolitan Region,None
49,None,None,None,None,None
50,None,None,None,None,None
51,None,None,None,None,None
52,None,None,None,None,None
53,None,None,None,None,None
54,None,None,None,None,None
55,None,None,None,None,None
56,None,None,None,None,None
57,None,None,None,None,None
58,None,None,None,None,None
59,Shift Manager,Instamart,4 weeks ago,"Gurgaon, Haryana, India",59 applicants
60,Purchase Executive - Pullman Chennai Anna Salai,Pullman Hotels & Resorts,2 days ago,"Chennai, Tamil Nadu, India",37 applicants
61,Quality,Larsen & Toubro,1 week ago,"Ponneri, Tamil Nadu, India",None
62,Process Assistant,Amazon,None,"Chennai, Tamil Nadu, India",None
63,Associate - Accounts Payable (SEA PAC ),adidas,1 week ago,"Chennai, Tamil Nadu, India",176 applicants
64,"Talent Account Director, LinkedIn Talent Solut...",LinkedIn,1 week ago,"Chennai, Tamil Nadu, India",None
65,Contracts Coordinator,Larsen & Toubro,4 days ago,Greater Chennai Area,None
66,Motion Graphic Designer,Zebronics,3 days ago,"Chennai, Tamil Nadu, India",40 applicants
67,Site Incharge- SOLAR O&M,Larsen & Toubro,5 days ago,"Chennai, Tamil Nadu, India",134 applicants
68,None,None,None,None,None
69,None,None,None,None,None
70,None,None,None,None,None
71,None,None,None,None,None
72,None,None,None,None,None
73,None,None,None,None,None
74,None,None,None,None,None
75,None,None,None,None,None
76,None,None,None,None,None
77,None,None,None,None,None
78,None,None,None,None,None
79,Human Resources Executive - Employee Relations,St. Regis Hotels & Resorts,4 days ago,"Mumbai, Maharashtra, India",168 applicants
80,Team Lead - Accounts Payable,Reliance Industries Limited,3 days ago,"Navi Mumbai, Maharashtra, India",None
81,Senior Business Manager - Mumbai,MakeMyTrip,2 weeks ago,"Mumbai, Maharashtra, India",None
82,ICICI Securities - Data Analyst - SQL/Python,ICICIDirect,2 weeks ago,"Navi Mumbai, Maharashtra, India",None
83,Data Scientist,HDFC Bank,2 weeks ago,"Mumbai, Maharashtra, India",None
84,Executive Assistant,Moët Hennessy,3 days ago,"Mumbai, Maharashtra, India",None
85,Direct Tax - TDS Role,Reliance Industries Limited,3 days ago,"Navi Mumbai, Maharashtra, India",None
86,None,None,None,None,None
87,None,None,None,None,None
88,None,None,None,None,None
89,None,None,None,None,None
90,None,None,None,None,None
91,None,None,None,None,None
92,None,None,None,None,None
93,None,None,None,None,None
94,None,None,None,None,None
95,None,None,None,None,None
96,None,None,None,None,None
97,None,None,None,None,None
98,None,None,None,None,None

In [93]:
url = 'https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=1'

response = requests.get(url)

list_data = response.text
list_soup = BeautifulSoup(list_data, 'html.parser')
page_jobs = list_soup.find_all('li')

In [94]:
id_list = []
for job in page_jobs:
    base_card_div = job.find("div", {"class": "base-card" })
    job_id = base_card_div.get("data-entity-urn").split(":")[3]
    print(job_id)
    id_list.append(job_id)

4245585141
4245933852
4243964066
4245277538
4245216148
4245857130
4245970407
4245279320
4245295711
4245936747

In [95]:

# It's a good practice to use headers to mimic a browser request and avoid being blocked.
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

for job_id in id_list:
    # Adding a random delay between requests to be respectful to the server and reduce the chances of being blocked.
    time.sleep(random.uniform(1, 4))
    
    job_url = f'https://in.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}'
    
    try:
        job_response = requests.get(job_url, headers=headers, timeout=10)
        
        print(f"Requesting ID {job_id}... Status: {job_response.status_code}")
        
        # A simple retry mechanism: if we are rate-limited (429), wait and try one more time.
        if job_response.status_code == 429:
            print("We are being rate-limited. Waiting 30 seconds...")
            time.sleep(30)
            job_response = requests.get(job_url, headers=headers, timeout=10)
            print(f"Retrying ID {job_id}... Status: {job_response.status_code}")
            
        job_post = {}
        if job_response.status_code == 200:
            job_soup = BeautifulSoup(job_response.text, 'html.parser')
            
            # Using select_one with CSS selectors is often more robust than finding by a long, exact class string.
            job_post['job_title'] = job_soup.select_one('.top-card-layout__title').text.strip() if job_soup.select_one('.top-card-layout__title') else None
            job_post['company_name'] = job_soup.select_one('.topcard__org-name-link').text.strip() if job_soup.select_one('.topcard__org-name-link') else None
            job_post['time_posted'] = job_soup.select_one('.posted-time-ago__text').text.strip() if job_soup.select_one('.posted-time-ago__text') else None
            job_post['location'] = job_soup.select_one('.topcard__flavor--bullet').text.strip() if job_soup.select_one('.topcard__flavor--bullet') else None
            job_post['number_of_applicants'] = job_soup.select_one('.num-applicants__caption').text.strip() if job_soup.select_one('.num-applicants__caption') else None
            job_post['job_function'] = job_soup.select_one('.description__job-criteria-text--criteria').text.strip() if job_soup.select_one('.num-applicants__caption') else None
        
        job_list.append(job_post)

    except requests.exceptions.RequestException as e:
        print(f"An error occurred for job ID {job_id}: {e}")
        # Append empty data if the request fails
        job_list.append({})

Requesting ID 4245585141... Status: 200
Requesting ID 4245933852... Status: 200
Requesting ID 4243964066... Status: 200
Requesting ID 4245277538... Status: 200
Requesting ID 4245216148... Status: 200
Requesting ID 4245857130... Status: 200
Requesting ID 4245970407... Status: 200
Requesting ID 4245279320... Status: 200
Requesting ID 4245295711... Status: 200
Requesting ID 4245936747... Status: 200

In [96]:
job_df = pd.DataFrame(job_list)
job_df.tail(20)

,job_title,company_name,time_posted,location,number_of_applicants
109,"Sr. Director, Marketing and Communications",Cincinnati Museum Center,6 days ago,"Cincinnati, OH",35 applicants
110,"Assistant Athletic Director, Communications, A...",University of Cincinnati,2 days ago,"Cincinnati, OH",Be among the first 25 applicants
111,Personal Assistant *ASAP*,Hustle Notice Biz,1 week ago,"Cincinnati, OH",Be among the first 25 applicants
112,Remote Onboarding Coordinator (11:00AM - 7:30P...,AnewHealth,1 week ago,"Hamilton County, OH",Over 200 applicants
113,Quality Technician,MRA Recruiting Services,2 weeks ago,"Cincinnati, OH",Be among the first 25 applicants
114,Sales Director,Flooid,4 days ago,"Cincinnati, OH",Be among the first 25 applicants
115,Executive Vice President of Sales,Weiss Technik North America,5 days ago,"Cincinnati, OH",33 applicants
116,Vice President Operations,Maronda Homes,2 weeks ago,"Cincinnati, OH",Be among the first 25 applicants
117,Elementary School Art Teacher- August 2025,Community of the Transfiguration,1 month ago,"Cincinnati, OH",Be among the first 25 applicants
118,Administrative Assistant,"Ryan Fireprotection, Inc.",6 days ago,"Cincinnati, OH",Be among the first 25 applicants
119,Category Manager - Holidays,MakeMyTrip,2 days ago,"Gurugram, Haryana, India",Over 200 applicants
120,Sr. Customer Relationship Manager - Jalandhar,Aditya Birla Capital,2 days ago,"Punjab, India",Be among the first 25 applicants
121,Goldsmith,Naukripay group,1 day ago,"Hyderabad, Telangana, India",Be among the first 25 applicants
122,Human Resource,Larsen & Toubro,3 days ago,"Barasat-I, West Bengal, India",Over 200 applicants
123,Manager - Brand Innovation,KFC India,3 days ago,"Gurugram, Haryana, India",Over 200 applicants
124,Brand Solutions (Sales)- Business News,Network18 Media & Investments Limited,2 days ago,"Mumbai, Maharashtra, India",Over 200 applicants
125,EXECUTIVE N - PRODUCTION MYSURU,Asian Paints,2 days ago,"Mysore, Karnataka, India",101 applicants
126,HR- Learning & Development,Larsen & Toubro,3 days ago,"Barasat-I, West Bengal, India",Over 200 applicants
127,Senior Executive,Flipkart,2 days ago,"Bengaluru, Karnataka, India",Over 200 applicants
128,Senior Executive - Visa Operations,MakeMyTrip,2 days ago,"Gurugram, Haryana, India",Over 200 applicants

In [80]:
job_df

,job_title,company_name,time_posted,location,number_of_applicants
0,Business Analyst,American Express,3 days ago,"Gurugram, Haryana, India",Over 200 applicants
1,Assistant Manager Finance,Godrej Agrovet Limited,3 days ago,"Mumbai, Maharashtra, India",Over 200 applicants
2,Business Analyst,PharmEasy,1 day ago,"Bengaluru, Karnataka, India",Over 200 applicants
3,"Business Development Associate , Private Brands",Amazon,3 days ago,"Bengaluru, Karnataka, India",130 applicants
4,Brand Manager – Ice Cream (BD),Unilever,1 day ago,"Mumbai, Maharashtra, India",Over 200 applicants
...,...,...,...,...,...
94,Partner Engagement Manager (India),Netflix,5 days ago,"New Delhi, Delhi, India",Over 200 applicants
95,"Analyst, Analytics & Insights",Deloitte,1 day ago,"Gurugram, Haryana, India",Over 200 applicants
96,Head Safety,Air India SATS Airport Services Private Limite...,4 days ago,"Delhi, India",Over 200 applicants
97,GSA - Front Office,IBIS,1 week ago,"Delhi, Delhi, India",87 applicants
98,Direct Marketing Manager,Aditya Birla Capital,3 days ago,"Faridabad, Haryana, India",35 applicants

In [97]:
job_df.to_csv('job_df.csv', index=False)

In [99]:
url = 'https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=1'

response = requests.get(url)

list_data = response.text
list_soup = BeautifulSoup(list_data, 'html.parser')
page_jobs = list_soup.find_all('li')

In [100]:
id_list = []
for job in page_jobs:
    base_card_div = job.find("div", {"class": "base-card" })
    job_id = base_card_div.get("data-entity-urn").split(":")[3]
    print(job_id)
    id_list.append(job_id)

4245585141
4245933852
4243964066
4245277538
4245216148
4245857130
4245970407
4245279320
4245295711
4245936747

4245908934
4245297547
4245556532
4243900490
4245054940
4246131629
4243690833
4245500389
4245909973
4246639409

In [107]:




# It's a good practice to use headers to mimic a browser request and avoid being blocked.
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

for job_id in id_list:
    # Adding a random delay between requests to be respectful to the server and reduce the chances of being blocked.
    time.sleep(random.uniform(1, 4))
    
    job_url = f'https://in.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}'
    
    try:
        job_response = requests.get(job_url, headers=headers, timeout=10)
        
        print(f"Requesting ID {job_id}... Status: {job_response.status_code}")
        
        # A simple retry mechanism: if we are rate-limited (429), wait and try one more time.
        if job_response.status_code == 429:
            print("We are being rate-limited. Waiting 30 seconds...")
            time.sleep(30)
            job_response = requests.get(job_url, headers=headers, timeout=10)
            print(f"Retrying ID {job_id}... Status: {job_response.status_code}")
            
        job_post = {}
        if job_response.status_code == 200:
            job_soup = BeautifulSoup(job_response.text, 'html.parser')
            
            # Using select_one with CSS selectors is often more robust than finding by a long, exact class string.
            job_post['job_title'] = job_soup.select_one('.top-card-layout__title').text.strip() if job_soup.select_one('.top-card-layout__title') else None
            job_post['company_name'] = job_soup.select_one('.topcard__org-name-link').text.strip() if job_soup.select_one('.topcard__org-name-link') else None
            job_post['time_posted'] = job_soup.select_one('.posted-time-ago__text').text.strip() if job_soup.select_one('.posted-time-ago__text') else None
            job_post['location'] = job_soup.select_one('.topcard__flavor--bullet').text.strip() if job_soup.select_one('.topcard__flavor--bullet') else None
            job_post['number_of_applicants'] = job_soup.select_one('.num-applicants__caption').text.strip() if job_soup.select_one('.num-applicants__caption') else None
            job_post['job_function'] = job_soup.select_one('.description__job-criteria-text--criteria').text.strip() if job_soup.select_one('.num-applicants__caption') else None
        
        job_list.append(job_post)

    except requests.exceptions.RequestException as e:
        print(f"An error occurred for job ID {job_id}: {e}")
        # Append empty data if the request fails
        job_list.append({})

Requesting ID 4245908934... Status: 200
Requesting ID 4245297547... Status: 200
Requesting ID 4245556532... Status: 200
Requesting ID 4243900490... Status: 200
Requesting ID 4245054940... Status: 200
Requesting ID 4246131629... Status: 200
Requesting ID 4243690833... Status: 200
Requesting ID 4245500389... Status: 200
Requesting ID 4245909973... Status: 200
Requesting ID 4246639409... Status: 200

In [102]:
job_df = pd.DataFrame(job_list)
job_df.tail(20)

,job_title,company_name,time_posted,location,number_of_applicants,job_function
0,Category Manager - Holidays,MakeMyTrip,2 days ago,"Gurugram, Haryana, India",Over 200 applicants,Associate
1,Sr. Customer Relationship Manager - Jalandhar,Aditya Birla Capital,2 days ago,"Punjab, India",Be among the first 25 applicants,Mid-Senior level
2,Goldsmith,Naukripay group,1 day ago,"Hyderabad, Telangana, India",Be among the first 25 applicants,Executive
3,Human Resource,Larsen & Toubro,3 days ago,"Barasat-I, West Bengal, India",Over 200 applicants,Entry level
4,Manager - Brand Innovation,KFC India,3 days ago,"Gurugram, Haryana, India",Over 200 applicants,Mid-Senior level
5,Brand Solutions (Sales)- Business News,Network18 Media & Investments Limited,2 days ago,"Mumbai, Maharashtra, India",Over 200 applicants,Associate
6,EXECUTIVE N - PRODUCTION MYSURU,Asian Paints,2 days ago,"Mysore, Karnataka, India",101 applicants,Mid-Senior level
7,HR- Learning & Development,Larsen & Toubro,3 days ago,"Barasat-I, West Bengal, India",Over 200 applicants,Entry level
8,Senior Executive,Flipkart,2 days ago,"Bengaluru, Karnataka, India",Over 200 applicants,Not Applicable
9,Senior Executive - Visa Operations,MakeMyTrip,2 days ago,"Gurugram, Haryana, India",Over 200 applicants,Associate

In [126]:
url = 'https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=41'

response = requests.get(url)

list_data = response.text
list_soup = BeautifulSoup(list_data, 'html.parser')
page_jobs = list_soup.find_all('li')

In [127]:
id_list = []
for job in page_jobs:
    base_card_div = job.find("div", {"class": "base-card" })
    job_id = base_card_div.get("data-entity-urn").split(":")[3]
    print(job_id)
    id_list.append(job_id)

4245871972
4245993832
4245097448
4245962173
4245739040
4245875707
4244936792
4245053620
4245523824
4245895436

In [128]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}
# Adding the time and random imports if they are not in the first cell
import time
import random

for job_id in id_list:
    # Adding a random delay to be respectful and avoid getting blocked
    time.sleep(random.uniform(1, 4))
    job_url = f'https://in.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}'
    
    try:
        job_response = requests.get(job_url, headers=headers, timeout=10)
        print(f"Requesting ID {job_id}... Status: {job_response.status_code}")

        if job_response.status_code == 429:
            print("Rate limit hit. Waiting for 30 seconds.")
            time.sleep(30)
            job_response = requests.get(job_url, headers=headers, timeout=10)
            print(f"Retrying ID {job_id}... Status: {job_response.status_code}")

        job_post = {'job_id': job_id}
        
        if job_response.status_code == 200:
            job_soup = BeautifulSoup(job_response.text, 'html.parser')
            
            # --- Extracting Basic Info ---
            job_post['job_title'] = job_soup.select_one('.top-card-layout__title').get_text(strip=True) if job_soup.select_one('.top-card-layout__title') else None
            job_post['company_name'] = job_soup.select_one('.topcard__org-name-link').get_text(strip=True) if job_soup.select_one('.topcard__org-name-link') else None
            job_post['time_posted'] = job_soup.select_one('.posted-time-ago__text').get_text(strip=True) if job_soup.select_one('.posted-time-ago__text') else None
            job_post['location'] = job_soup.select_one('.topcard__flavor--bullet').get_text(strip=True) if job_soup.select_one('.topcard__flavor--bullet') else None
            
            # --- Dynamically Extracting All Job Criteria ---
            criteria_items = job_soup.select('li.description__job-criteria-item')
            for item in criteria_items:
                header_element = item.select_one('h3.description__job-criteria-subheader')
                value_element = item.select_one('span.description__job-criteria-text--criteria')
                
                if header_element and value_element:
                    # Clean the header text to use as a dictionary key
                    key = header_element.get_text(strip=True).lower().replace(' ', '_')
                    value = value_element.get_text(strip=True)
                    job_post[key] = value

        job_list.append(job_post)

    except requests.exceptions.RequestException as e:
        print(f"An error occurred for job ID {job_id}: {e}")
        job_list.append({'job_id': job_id, 'error': str(e)})

Requesting ID 4245871972... Status: 200
Requesting ID 4245993832... Status: 200
Requesting ID 4245097448... Status: 200
Requesting ID 4245962173... Status: 200
Requesting ID 4245739040... Status: 200
Requesting ID 4245875707... Status: 200
Requesting ID 4244936792... Status: 200
Requesting ID 4245053620... Status: 200
Requesting ID 4245523824... Status: 200
Requesting ID 4245895436... Status: 200

In [129]:
job_df = pd.DataFrame(job_list)
job_df.tail(20)

,job_id,job_title,company_name,time_posted,location,seniority_level,employment_type,job_function,industries
30,4245938081,Branch Manager - Kharagpur,Aditya Birla Capital,2 days ago,"West Bengal, India",Mid-Senior level,Full-time,Sales and Business Development,Financial Services
31,4245877461,Talent Account Director 2,LinkedIn,2 days ago,"Gurgaon, Haryana, India",Associate,Full-time,Sales,"Technology, Information and Internet"
32,4244332836,Research And Development Officer,Meril,1 day ago,"Vapi, Gujarat, India",Entry level,Full-time,Research,Software Development
33,4245255074,Fire Executive - Vadodara,Reliance Industries Limited,3 days ago,"Vadodara, Gujarat, India",Mid-Senior level,Full-time,Business Development and Sales,Oil and Gas
34,4245528214,HR Ops Admin,Amazon,3 days ago,"Nagpur, Maharashtra, India",Not Applicable,Full-time,Distribution and Other,Software Development
35,4245268502,Store Manager,H&M,3 days ago,"Bhopal, Madhya Pradesh, India",Not Applicable,Full-time,Management,Retail
36,4244605546,Supply Chain Head,JSW Paints,5 hours ago,"Mumbai, Maharashtra, India",Mid-Senior level,Full-time,Supply Chain,"Paint, Coating, and Adhesive Manufacturing, Re..."
37,4243926442,Trainee Field Officer,Cadila Pharmaceuticals Limited,3 weeks ago,"Yamunanagar, Haryana, India",Internship,Full-time,Other,Pharmaceutical Manufacturing
38,4245524725,"Process Assistant, Amazon Fresh",Amazon,3 days ago,Mumbai Metropolitan Region,Not Applicable,Full-time,"Management, Distribution, and Supply Chain",Software Development
39,4244370166,Business Development Executive,Flipkart,1 day ago,"Bengaluru, Karnataka, India",Executive,Full-time,Business Development and Sales,"Retail and Technology, Information and Internet"
40,4245871972,"APAC Sales Operations Manager, Large Customer ...",LinkedIn,2 days ago,"Bengaluru, Karnataka, India",Mid-Senior level,Full-time,Sales,"Technology, Information and Internet"
41,4245993832,Assistant Finance Manager - FET,Unilever,1 day ago,"Bengaluru, Karnataka, India",Mid-Senior level,Full-time,Finance,"Manufacturing, Food and Beverage Manufacturing..."
42,4245097448,Financial Analyst,American Express,3 days ago,"Gurgaon, Haryana, India",Entry level,Full-time,Other,Financial Services
43,4245962173,Center Operation Manager - Chandigarh,Frankfinn Aviation Services Pvt. Limited,2 days ago,"Chandigarh, Chandigarh, India",Mid-Senior level,Full-time,Management and Manufacturing,Pharmaceutical Manufacturing
44,4245739040,Recruiter I,Conduent,2 days ago,"Visakhapatnam Rural mandal, India",Mid-Senior level,Full-time,Human Resources,IT Services and IT Consulting
45,4245875707,Software Engineer,PhonePe,2 days ago,"Bengaluru, Karnataka, India",Associate,Full-time,Engineering,Software Development
46,4244936792,"Human Resources (HR) Internship in Delhi, Gurg...",Caroline Healthcare Private Limited,3 days ago,"Delhi, India",Internship,Internship,Human Resources and Management,Advertising Services
47,4245053620,Head - Operations Command Center (OCC),Medanta,3 days ago,"Gurugram, Haryana, India",Mid-Senior level,Full-time,Other,Hospitals and Health Care and Telecommunications
48,4245523824,Business Analyst Support,Amazon,3 days ago,"Bengaluru, Karnataka, India",Not Applicable,Full-time,"Purchasing, Supply Chain, and Information Tech...",Software Development
49,4245895436,Information Technology System Administrator,Aditya Birla Group,2 days ago,"Thane, Maharashtra, India",Associate,Contract,Information Technology,"IT Services and IT Consulting, Pharmaceutical ..."

In [141]:
base_url = 'https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start='

# Start from 51 to, say, 101 (inclusive). Change the range as needed.
for start in range(1251, 1550, 10):  # 51, 61, 71, 81, 91, 101
    url = f"{base_url}{start}"
    response = requests.get(url)

    list_data = response.text
    list_soup = BeautifulSoup(list_data, 'html.parser')
    page_jobs = list_soup.find_all('li')

    id_list = []
    for job in page_jobs:
        base_card_div = job.find("div", {"class": "base-card" })
        job_id = base_card_div.get("data-entity-urn").split(":")[3]
        print(job_id)
        id_list.append(job_id)
        
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }
    # Adding the time and random imports if they are not in the first cell
    import time
    import random

    for job_id in id_list:
        # Adding a random delay to be respectful and avoid getting blocked
        time.sleep(random.uniform(1, 4))
        job_url = f'https://in.linkedin.com/jobs-guest/jobs/api/jobPosting/{job_id}'
        
        try:
            job_response = requests.get(job_url, headers=headers, timeout=10)
            print(f"Requesting ID {job_id}... Status: {job_response.status_code}")

            if job_response.status_code == 429:
                print("Rate limit hit. Waiting for 30 seconds.")
                time.sleep(30)
                job_response = requests.get(job_url, headers=headers, timeout=10)
                print(f"Retrying ID {job_id}... Status: {job_response.status_code}")

            job_post = {'job_id': job_id}
            
            if job_response.status_code == 200:
                job_soup = BeautifulSoup(job_response.text, 'html.parser')
                
                # --- Extracting Basic Info ---
                job_post['job_title'] = job_soup.select_one('.top-card-layout__title').get_text(strip=True) if job_soup.select_one('.top-card-layout__title') else None
                job_post['company_name'] = job_soup.select_one('.topcard__org-name-link').get_text(strip=True) if job_soup.select_one('.topcard__org-name-link') else None
                job_post['time_posted'] = job_soup.select_one('.posted-time-ago__text').get_text(strip=True) if job_soup.select_one('.posted-time-ago__text') else None
                job_post['location'] = job_soup.select_one('.topcard__flavor--bullet').get_text(strip=True) if job_soup.select_one('.topcard__flavor--bullet') else None
                
                # --- Dynamically Extracting All Job Criteria ---
                criteria_items = job_soup.select('li.description__job-criteria-item')
                for item in criteria_items:
                    header_element = item.select_one('h3.description__job-criteria-subheader')
                    value_element = item.select_one('span.description__job-criteria-text--criteria')
                    
                    if header_element and value_element:
                        # Clean the header text to use as a dictionary key
                        key = header_element.get_text(strip=True).lower().replace(' ', '_')
                        value = value_element.get_text(strip=True)
                        job_post[key] = value

            job_list.append(job_post)

        except requests.exceptions.RequestException as e:
            print(f"An error occurred for job ID {job_id}: {e}")
            job_list.append({'job_id': job_id, 'error': str(e)})

    job_df = pd.DataFrame(job_list)

https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=51
https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=61
https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=71
https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=81
https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=91
https://in.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=india&start=101

In [157]:
job_df

,job_id,job_title,company_name,time_posted,location,seniority_level,employment_type,job_function,industries,function,industry,city
0,4245908934,Associate Product Manager,Godrej Capital,2 days ago,"Mumbai, Maharashtra, India",Associate,Full-time,"Product Management, Engineering, and Finance",Strategic Management Services and Data Infrast...,Product,Strategic,Mumbai
1,4245297547,Assistant Manager,Flipkart,3 days ago,"Mumbai, Maharashtra, India",Not Applicable,Full-time,Other,"Manufacturing and Technology, Information and ...",Other,Manufacturing,Mumbai
2,4245556532,SDE Intern,Upstox,3 days ago,"Mumbai, Maharashtra, India",Not Applicable,Internship,Engineering and Information Technology,Financial Services,Engineering,Financial,Mumbai
3,4243900490,Market Consultant,Google,2 days ago,"Gurugram, Haryana, India",Not Applicable,Full-time,"Business Development, Human Resources, and Con...","Information Services and Technology, Informati...",Business,Information,Gurugram
4,4245054940,Area Sales Manger,Godrej Consumer Products Limited,3 days ago,"Chennai, Tamil Nadu, India",Mid-Senior level,Full-time,Sales,Personal Care Product Manufacturing and Consum...,Sales,Personal,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...
993,4244368697,Incident Manager,Tata Consultancy Services,1 day ago,"Chennai, Tamil Nadu, India",Mid-Senior level,Full-time,Information Technology and Engineering,IT Services and IT Consulting and Information ...,Information,IT,Chennai
994,4246125945,Human Resources (HR) Associate in Bangalore,Scott International,1 day ago,"Bengaluru, Karnataka, India",Entry level,Full-time,Human Resources and Management,Advertising Services,Human,Advertising,Bengaluru
995,4245255151,Zonal Manager - South,Orient Electric,4 weeks ago,"Secunderābād, Telangana, India",Mid-Senior level,Full-time,Sales and Business Development,"Appliances, Electrical, and Electronics Manufa...",Sales,Appliances,Secunderābād
996,4245946125,"Research Analyst - Life Sciences, Pharma and M...",LSC - LifeSciences Consultants,2 days ago,"Navi Mumbai, Maharashtra, India",Mid-Senior level,Full-time,Research,Business Consulting and Services and Pharmaceu...,Research,Business,Navi
997,4245710042,TFL – Trade Associate,Deutsche Bank,3 days ago,"Pune, Maharashtra, India",Not Applicable,Full-time,Management and Manufacturing,Financial Services,Management,Financial,Pune

In [156]:
job_df['function'] = job_df['job_function'].str.split().str[0]
job_df['function'] = job_df['function'].str.replace(',', '')

job_df['industry'] = job_df['industries'].str.split().str[0]
job_df['industry'] = job_df['industry'].str.replace(',', '')

job_df['city'] = job_df['location'].str.split().str[0]
job_df['city'] = job_df['city'].str.replace(',', '')

In [158]:
job_df.to_csv('jobs_df.csv', index=False)